.theme-color{
    color: #40a7a2 !important;
}
.bg-.theme-color{
    background-color: #40a7a2 !important;
}
.navbar .active {
    color: #40a7a2 !important;
}

#navbar-brand {
    font-weight: 900;
    font-size: 30px;
    padding: 5px;
    color: #40a7a2 !important;
}
#category .nav-link {
    color: #40a7a2 !important;
}
#category .active {
    color: #fff !important;
    background-color:  #40a7a2 !important;
}


#main {
    min-height: 400px;
}
#loder{
    z-index: 300;
}